body {
  background-color: #000;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

h2 {
  margin: 1em;
  color: #FFE919;
  background-color: transparent;
}

.char {
  width: 25%;
  height: 10em;
  border: 5px solid black;
  background-image: url(../img/1.jpg);
  background-size: 500%;
}

.char:hover {
  opacity: 0.5;
  cursor: pointer;
}

#img-1 {
  background-position: 70% 15%;
}

#img-2 {
  background-position: -2% 16%;
}

#img-3 {
  background-position: 22% 16%;
}

#img-4 {
  background-position: 101% 52%;
}

#img-5 {
  background-position: 95% 16%;
}

#img-11 {
  background-position: 18% 87%;
}

#img-20 {
  background-position: 46% 16%;
}

#img-22 {
  background-position: 19% 52%;
}